.Product_Top_container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 190%;
  }
  
  .Product-Top-button button {
    margin: 0px 5px;
  }
  
  .card-container2 {
    width: 190%;
  }
  
  .options-container {
    display: flex;
    align-items: center;
  }
  
  .options-container button {
    margin-left: 10px;
  }
  
  .option-container input{
      margin: 0px 10px;
      align-items: center;
  }
  .option-container button{
      margin-left: 10px;
  }