#p {
  color: black;
  margin-bottom: 1.5em;
  font-weight: 300;
  font-size: 35px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.form{
  border: 2px solid white;
  background-color: white;
  border-radius: 30px;
  margin-left: 180px;
  margin-top: 40px;
  height: 580px;
  width: 400px;
}
#P{
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#icons{
  margin-left: 163px;
  margin-top: 40px;
}