.Product_Top_Add_container1c {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
}

li {
  list-style: none;
  margin-top: 5px;
}

.Add_product_container1c {
  width: 100%;
}
/* .card1c{
  align-items: center;
  justify-content: space-around;
} */

/* .Product_main_container1c {
padding-top: 20px;
} */
