.Product_Top_Add_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 90%;
}

li {
  list-style: none;
  margin-top: 5px;
}

.Add_product_container {
  width: 90%;
}
/* 
.Product_main_container {
  background-color: aliceblue;
} */
