.Product_Top_container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224%;
  }
  .Product-Top-button2 Button {
    margin: 0px 5px;
  }
  .card-container2 {
    width: 224%;
    margin-top: 20px;
  }
  .options-container2 {
    display: flex;
    align-items: center;
  }
  .options-container2 Button {
    margin-left: 10px;
  }
  #button{
    margin-top: 1%;
  }

  