.Product_Top_container1f{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110%;   
}
.Product-Top-button1 button{
margin: 0px 5px;
}
.Card-container1f{
    width: 230%;
    margin-top: 20px;
}
.opetion-container1f{
    display: flex;
    align-items: center;
}
.opetion-container1f button{
    margin-left: 20px;
}