.Product_Top_container5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 117%;
  }
  .Product-Top-button5 Button {
    margin: 0px 5px;
  }
  .card-container5 {
    width: 117%;
    margin-top: 20px;
  }
  .options-container5 {
    display: flex;
    align-items: center;
  }
  .options-container5 Button {
    margin-left: 10px;
  }
  .inpubutton{
    margin-top: 30px;
    margin-left: 10px;
  }

  